.glyndor-head {
    height: 140px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
    left: 0px;
    right: 0px;
}
.left-logo {
    display: inline-block;
}
.left-logo img {
    height:120px;
}
.right-contact {
    float: right;
}